<%- include('./partials/head') %>

<article>

  <h1> MUGSHOT #07122000</h1>
  <img class="frame-1" src="public/assets/frameone.png" alt="frame" width="300">
  <img class="frame-2" src="public/assets/Frametwo.png" alt="frame-2" width="300">

<p class="dossier">
  Name: Anouk Bruin <br>
  Age: 22  <br>
  <br>
  Crime: Coding too much.<br>
  Student: Frontend Design and Development



</p>

</article>

<%- include('./partials/foot') %>
