<%- include('./partials/head') %>

<article>

  <h1> MUGSHOT #07122000</h1>
  <img class="frame-1" src="/assets/Frameone.png" alt="frame" width="40%">
  <img class="frame-2" src="/assets/Frametwo.png" alt="frame-2" width="40%">


</article>

<%- include('./partials/foot') %>
