<%- include('./partials/head') %>

<article>

  <h1> MUGSHOT #07122000</h1>
<section class="frames">

  <img class="frame-1" src="/assets/frameone.png" alt="frame" width="300">
  <img class="frame-2" src="/assets/Frametwo.png" alt="frame-2" width="300">

</section>





</p>

</article>

<%- include('./partials/foot') %>
