<%- include('./partials/head') %>

<article>
  <h1> Hallo! </h1>
  <img src="<%member.avatar"%>"alt="Avatar van <%= member.name%>"/>
  <p>Alles werk! Laat dit visitekaartje in je browser aan een docent zien :D</p>
</article>

<%- include('./partials/foot') %>
