<%- include('./partials/head') %>

<article>
  <h1> <%= member.name %></h1>
  <p>Alles werk! Laat dit visitekaartje in je browser aan een docent zien :D</p>
</article>

<%- include('./partials/foot') %>
