* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
 
}




article {
  padding: 1rem;
  width: 40vw;
  height: 22vw;
  background-color: white;

  /* /* From https://css.glass */
  background: rgba(60, 39, 39, 0.06);
  border-radius: 16px;
  align-items: center;

 
  
}

h1 {
  text-align: center;
  margin-top: 0,5px;
  align-items: center;
  display: flex;
}

.frame-1{

  border-radius: 2%;
  align-items: center;
  justify-content: center;
  margin-top: 0,5em;
  margin-left: 2.7em;

}

.frame-2{

  border-radius: 2%;
  align-items: center;
  justify-content: center;
  margin-top: 0,5em;
  margin-left: 2.6em;

}

.dossier {
  position: right;
}