* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
 
}




article {
  padding: 1rem;


  background-color: white;

  /* /* From https://css.glass */
  background: rgba(60, 39, 39, 0.06);
  border-radius: 16px;
  align-items: center;

 
 
}

.frames{
  display: flex;
  flex-flow: row wrap;
  position:  center;
  flex-wrap: nowrap;
  align-items:center;
  

}

h1 {
  text-align: center;
  margin-top: 0,5px;
  align-items: center;
  display: flex;
}

.frame-1{

  border-radius: 2%;
  align-items: center;
  justify-content: center;
  margin-top: 0,5em;
  

}

.frame-2{

  border-radius: 2%;
  align-items: center;
  justify-content: center;
  margin-top: 0,5em;
 

}

.dossier {
  position: right;
}